
h2 HOW TO PLAY
p Mastermind is a classic puzzle game where two players assume the role of code maker (computer i.e. your opponent) and code breaker (i.e. yourself). The gameplay is simple, and so are the rules. The goal is to guess a hidden color code set by the code maker.
br/
p The code maker (your opponent) sets the secret code (combination of four distinct colors) and hides it at the top of the game board, while the code breaker (the player) guesses the secret code by trying out different color combinations.
br/
p The gameboard contains 10 rows with possibilities of four colors and code pegs (green or black) for each row. After each move by the code breaker (i.e., after clicking on “CHECK”), the code maker provides feedback (i.e. the code pegs) which appear to the right of your color choices.
br/
p <b>Green dot</b>: correct color placed correctly.
p <b>White dot</b>: correct color placed incorrectly.
br/
p These code pegs aim to show how close your code is to the secret code. Though, the code pegs do not indicate which color is being pointed to. It is your responsibility to find it out through logic deduction.
