/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 body {
  margin: 0;
  background-color:rgb(173, 93, 7);
  overflow-x: hidden;
  overflow-y: hidden;
}

h2, h3 {
  margin: 0;
  color: white;
}

.board {
  margin: 0;
  font-family: sans-serif;
  min-width: 312px;
}

.main-block {
  background-color: rgb(173, 93, 7);
  height: calc(100vh -72px - 36px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.guess-rows {
  width: 360px;
}

.guess-row {
  height: calc((100vh - 48px - 48px) / 11);
  display: flex;
  min-height: calc(36px + 1em);
  justify-content: space-between;
}

.guess-chances {
  width: 2rem;
  min-width: 2rem;
  text-align: center;
  margin-top: 0;
  line-height: 35px;
}

.all-guess-cell {
  padding-top: .1em;
  line-height: 48px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.guess-cell {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(106, 67, 28, 0.9);
  border-block-start-color: #1b1b1b;
  border-inline-start-color: #1b1b1b;
  margin-right: 4px;
}

.inner-guess-cell {
  background-color: black;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: calc(32px / 2 - 12px / 2 - 1px);
  top: calc(32px / 2 - 12px / 2 - 1px);
}

.bg-red .inner-guess-cell,
.bg-orange .inner-guess-cell,
.bg-yellow .inner-guess-cell,
.bg-green .inner-guess-cell,
.bg-blue .inner-guess-cell,
.bg-purple .inner-guess-cell {
  background-color: transparent;
}

.guess-ratings {
  padding-top: 0;
  padding-left: 18px;
}
.guess-rating-box {
  width: 36px;
  height: 36px;
  display: grid;
  grid-row: auto auto;
  grid-template-columns: 18px 18px;
  grid-template-rows: 18px 18px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  box-sizing: content-box;
  border: 2px solid rgba(142, 141, 141, 0.4);
  border-block-end-color: rgb(91, 56, 21);
  border-inline-end-color: rgb(91, 56, 21);
}

.guess-rating {
  width: 8px;
  height: 8px;
  margin-top: calc(18px / 2 - 8px / 2);
  margin-left: calc(18px / 2 - 8px / 2);
  border-radius: 50%;
}

.color-picker-block {
  border: 5px solid rgba(142, 141, 141, 0.4);
  border-block-end-color: rgb(91, 56, 21);
  border-inline-end-color: rgb(91, 56, 21);
  width: 72px;
  height: calc(100vh - 80px - 80px);
  text-align: center;
}

.color-picker .undo {
  text-align: center;
  color: white;
}

.color-picker .color {
  margin: 1em auto 1em auto;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.guess-check {
  width: 55px;
  height: calc((100vh - 80px - 80px) / 6);
  margin: 2px 0 0 2px;
  border-radius: 6px;
  background-color: rgb(79, 50, 10);
  border: 3px solid rgb(83, 62, 31);
  color: white;
  font-size: .7rem;
  cursor: pointer;
}

.header {
  height: 72px;
  text-align: center;
  line-height: 36px;
}

.actual-code-row {
  width: 50%;
  height: 36px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.actual-code-row .color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 4px 0 0 6px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 100vw;
  min-width: 312px;
  height: 36px;
}

.footer form {
  display: flex;
  justify-content: center;
}

.menu, .new-game {
  font-family: sans-serif;
  background-color: black;
  color: rgb(171, 110, 49);
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  line-height: 36px;
  margin: 0;
  margin-right: 2em;
  padding: 0 1em;
  display: inline-block;
  cursor: pointer;
  border: none;
}

/* INDEX PAGE*/
.container {
  background-color: #1b1b1b;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0px;
  position: fixed;
}

.form-control {
  margin: 20px;
  margin-top: 80px;
}

.mastermind {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  margin-top: 50px;
}

.container p {
  color: white;
  padding-top: 70px;
}

.how-to-play {
  margin: 20px 20px;
  width: 150px;
  height: 50px;
  font-size: 1.2em;
  background-color: rgba(106, 67, 28, 0.9);
  color: white;
}

.instructions {
  background-color: white;
  height: 100vh;
}

.instructions h2 {
  color: black;
}

.sign-out {
  background-color: rgba(106, 67, 28, 0.9);
  color: white;
  width: 150px;
  height: 50px;
  font-size: 1.2em;
}

.new {
  background-color: rgba(106, 67, 28, 0.9);
  color: white;
  width: 150px;
  height: 50px;
  font-size: 1.2em;
}

/* SESSION */
.login {
  display: flex;
  background-color: black;
  width: 100%;
  height: 1000px;
  text-align: center;
  font-size: x-large;
  position: fixed;
}

.login label {
  color: white;
  margin-right: 10px;
}

.start-player-button {
  background: rgb(4, 109, 116);
  margin: 10px;
  color: white;
}
